@font-face {
  font-family: "iconfont"; /* Project id 3733800 */
  src: url('iconfont.woff2?t=1667050891433') format('woff2'),
       url('iconfont.woff?t=1667050891433') format('woff'),
       url('iconfont.ttf?t=1667050891433') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-houtaiguanli-fabuwenzhang:before {
  content: "\e6d8";
}

.icon-dengpaotishi:before {
  content: "\e622";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shouye:before {
  content: "\e629";
}

.icon-xiaoxi:before {
  content: "\e630";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-xiaoxi1:before {
  content: "\e640";
}

.icon-zhinanzhen:before {
  content: "\e61f";
}

.icon-youxiang1:before {
  content: "\e739";
}

.icon-key:before {
  content: "\e779";
}

.icon-xiaoxi2:before {
  content: "\e8bd";
}

.icon-facebook:before {
  content: "\e639";
}

.icon-renyuan-05:before {
  content: "\e631";
}

.icon-sousuo1:before {
  content: "\eed9";
}

.icon-xihuan:before {
  content: "\eedb";
}

.icon-xianshi:before {
  content: "\eedc";
}

.icon-biaoqian:before {
  content: "\eedd";
}

.icon-tupian:before {
  content: "\eedf";
}

.icon-shouye1:before {
  content: "\eee1";
}

.icon-shipin:before {
  content: "\eee2";
}

.icon-shezhi1:before {
  content: "\eee3";
}

.icon-wenjian:before {
  content: "\eee4";
}

.icon-wode:before {
  content: "\eee5";
}

.icon-wenjianjia:before {
  content: "\eee9";
}

.icon-tongzhi:before {
  content: "\eeed";
}

.icon-tishi:before {
  content: "\eeee";
}

.icon-shijian:before {
  content: "\eeef";
}

.icon-yewan:before {
  content: "\ef4a";
}

.icon-xinxi:before {
  content: "\ef4b";
}

.icon-fankui:before {
  content: "\ef51";
}

.icon-gouwu:before {
  content: "\ef53";
}

.icon-guanjun:before {
  content: "\ef54";
}

.icon-ziliao:before {
  content: "\ef55";
}

.icon-rili:before {
  content: "\ef56";
}

.icon-qiandao:before {
  content: "\ef58";
}

.icon-faxian:before {
  content: "\ef5a";
}

.icon-xinwen:before {
  content: "\ef5b";
}

